<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <!-- Servlet Definitions -->

  <servlet>
    <servlet-name>CMS</servlet-name>
    <servlet-class>org.cdlib.xtf.cms.CMS</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>crossQuery</servlet-name>
    <servlet-class>org.cdlib.xtf.crossQuery.CrossQuery</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>dynaXML</servlet-name>
    <servlet-class>org.cdlib.xtf.dynaXML.DynaXML</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dynaXMLcached</servlet-name>
    <servlet-class>org.cdlib.xtf.dynaXML.DynaXML</servlet-class>
  </servlet>

       	<servlet> 
		<servlet-name>rawQuery</servlet-name> 
		<servlet-class>org.cdlib.xtf.crossQuery.raw.RawQuery</servlet-class> 
	</servlet> 


  <!-- Servlet Mappings -->

  <servlet-mapping>
    <url-pattern>/servlet/org.cdlib.xtf.cms.CMS</url-pattern>
    <servlet-name>CMS</servlet-name>
  </servlet-mapping>
  
  <servlet-mapping>
    <url-pattern>/search</url-pattern>
    <servlet-name>crossQuery</servlet-name>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>crossQuery</servlet-name>
    <url-pattern>/oai</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <url-pattern>/servlet/org.cdlib.xtf.crossQuery.CrossQuery</url-pattern>
    <servlet-name>crossQuery</servlet-name>
  </servlet-mapping>

  <servlet-mapping>
    <url-pattern>/view</url-pattern>
    <servlet-name>dynaXML</servlet-name>
  </servlet-mapping>

  <servlet-mapping>
    <url-pattern>/dynaXMLcached</url-pattern>
    <servlet-name>dynaXMLcached</servlet-name>
  </servlet-mapping>

 <servlet-mapping> 
    <servlet-name>rawQuery</servlet-name> 
    <url-pattern>/rawQuery</url-pattern> 
 </servlet-mapping> 


  <servlet-mapping>
    <url-pattern>/servlet/org.cdlib.xtf.dynaXML.DynaXML</url-pattern>
    <servlet-name>dynaXML</servlet-name>
  </servlet-mapping>

  
  <!-- For Backwards Compatibility -->

  <servlet-mapping>
    <url-pattern>/servlet/BookView</url-pattern>
    <servlet-name>dynaXML</servlet-name>
  </servlet-mapping>
  
  <servlet-mapping>
    <url-pattern>/servlet/DirectSearch</url-pattern>
    <servlet-name>dynaXML</servlet-name>
  </servlet-mapping>
  
  <servlet-mapping>
    <url-pattern>/servlet/PreviewXML</url-pattern>
    <servlet-name>dynaXML</servlet-name>
  </servlet-mapping>

  <filter>
    <filter-name>expires-12h</filter-name>
    <filter-class>com.samaxes.filter.CacheFilter</filter-class>
    <init-param>
      <param-name>privacy</param-name>
      <param-value>public</param-value>
    </init-param>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>43200</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <servlet-name>crossQuery</servlet-name>
    <filter-name>expires-12h</filter-name>
  </filter-mapping>

  <filter-mapping>
    <servlet-name>dynaXMLcached</servlet-name>
    <filter-name>expires-12h</filter-name>
  </filter-mapping>

</web-app>

